<table border="1">
    <thead>
      <tr>
        <th>modelo</th>
        <th>marca</th>
        <th>motor</th>
        <th>Editar</th>
        <th>Remover</th>
      </tr>
    </thead>
    <tbody>
      {linha}
      <tr>
        <td>{modelo}</td>
        <td>{marca}</td>
        <td>{motor}</td>
        <td>
          <button
            type="button"
            onclick="window.location.href='?acao=Tabela&metodo=editar&id={id}';"
          >
            Editar
          </button>
        </td>
        <td>
          <button
            type="button"
            onclick="if(confirm('Deseja remover este registro?'))window.location.href='?acao=Tabela&metodo=remover&id={id}';"
          >
            Remover
          </button>
        </td>
      </tr>
      {/linha}
    </tbody>
  </table>
  